.nav__div {
    width: 100%;
    background: var(--color-border);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
    padding: 1rem;
}
select {
    border: 1px solid var(--color-orange);
    font-weight: 700;
    color: var(--color-white);
    font-family: var(--font-family);
    border-radius: 0.4rem;
    background: transparent;
    outline: none;
    padding: 0.7rem 0.7rem;
}
 select option {
    color: var(--color-blackie);
 }
.select {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav h1 {
    color: var(--color-orange);
    font-size: var(--font-folds);
}
.links {
    background: var(--color-orange);
    font-size: var(--font-smalls);
    color: var(--color-blackie);
    font-weight: 700;
    border-radius: 0.4rem;
    padding: 0.7rem 0.9rem;
}

@media screen and (max-width: 480px) {
    .nav {
        margin: 0rem 0rem;
        padding: 1rem 0.5rem;
    }
    

}
@media  (min-width: 481px) and  (max-width: 767px) {
  
   

    
}


@media (min-width: 768px) and (max-width: 992px){
    .nav {
        margin: 0rem 1rem;
        padding: 1rem;
    }

}
@media (min-width: 1920px) {
    .nav h1 {
        color: var(--color-orange);
        font-size: var(--font-btnss);
    }
    .links {
        font-size: var(--font-headers);
        padding: 0.7rem 2rem;
    }
    select {
        padding: 0.7rem 1rem;
        font-size: var(--font-headers);

    }
}