.header__divs {
    width: 100%;
    min-height: calc(80vh - 4.5rem);
    background: var(--color-blackie);
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__div {
   text-align: center;
}
h2 {
    color: var(--color-white);
    line-height: 40px;
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: var(--font-new);
    text-transform: capitalize;
}
.header__div p {
    text-transform: capitalize;
    color: var(--color-grey);
    font-size: var(--font-small);
    line-height: 5rem;
}
.trend__divs {
    color: yellow;
    font-weight: 700;

}
.loading {
    color: var(--color-orange);
}
.name {
    color: var(--color-orange);
}

TREND DATA STYLES */
.trend__divss {
    display: flex;
    justify-content: center;
}
.name__img {
    width: 6rem;
    display: flex;
    justify-content: center;
    height: 6rem;
}
.name__divs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name__img img {
    width: 100%;
    border-radius: 6rem;
    height: 100%;
    object-fit: cover;
}
.coin__name {
    color: var(--color-orange);
    margin-top: 0.5rem;
    font-size: var(--font-logos);
    
}
.coin__price {
    color: var(--color-orange);
    margin-top: 0.5rem;
    font-size: var(--font-logos);
}
@media screen and (max-width: 480px) {
   .header__divs {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: calc(50vh - 4rem);
   }
   .header__div p {
       margin-top: 2rem;
       line-height: 20px;
   }
    

}

@media  (min-width: 481px) and  (max-width: 767px) {
    .header__divs {
        min-height: calc(60vh - 4rem);
    }

}
@media  (min-width: 768px) and  (max-width: 991px) {
    .header__divs {
        min-height: calc(45vh - 4rem);
    }

    .header__divs {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        min-height: calc(50vh - 4rem);
       }
  
}
@media  (min-width: 992px) and  (max-width: 1199px) {
    .header__divs {
        min-height: calc(74vh - 4rem);
    }
  
    
}
@media  (min-width: 1200px) and  (max-width: 1919px) {
    .header__divs {
        display: flex;
        min-height: calc(69vh - 4rem);
    }
    .header__div p {
        font-size: var(--font-folds);
    }

}

@media (min-width: 1920px) 
{
    .header__divs {
        min-height: calc(50vh - 4rem);
    }  
      .header__div p {
        font-size: var(--font-folds);
    }
    .header__div p {
        font-size: var(--font-folds);
    }
    h2 {
        font-size: var(--font-news);
    }
    .header__div p {
        font-size: var(--font-folds);
        line-height: 5rem;
    }

}